@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-first{
 background-color: #497c7e;
}
.text-first{
 color:#5f9ea0;
}
.border-first{
 border-color: #4c8183;
}
.bg-second{
 background-color: #358597;
}
.text-second{
 color: #358597;
}
.border-second{
 border-color: #358597;
}