@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-first{
 background-color: #e4b979;
}
.text-first{
 color:#e4b979;
}
.border-first{
 border-color: #e4b979;
}
.bg-second{
 background-color: #d1b06a;
}
.text-second{
 color: #358597;
}
.border-second{
 border-color: #8d6428;
}